html {
    height: 100%;
    }

body { 
   
    background:
        linear-gradient(cyan, transparent),
        linear-gradient(-45deg, magenta, transparent),
	    linear-gradient(45deg, yellow, transparent);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: round;
    }

main {
    margin: 0 auto;
    padding: 20px;
    }

main div {
    padding: 20px;
    }

.navPadding {
    margin: 0 auto;
    max-width: 1280px;
    padding-bottom: 20%;
    }


/*INDEX*/
    .testPanel {
        background-color: #607d8b;
        color: white;
        text-transform: uppercase;
        }   
    .testBtnBox, .titleTest {
        display: flex;
        justify-content: space-around;
    }

.titleTest {
        display: flex;
        font-size: 30px;
        font-weight: 600;
        justify-content: space-around;
        
    }


.testRoz {
    background-color: #283593;
    color: white;
    text-transform: uppercase;
}

.testLink {
    background-color: #607d8b;
    color: white;
}

.dropdown-content li>a {
    color: white;
    text-transform: capitalize;
}

ul > a {
    text-transform: capitalize;
}



.task {
    background-color: #304ffe;
    color: white;
    text-transform: uppercase;
}
.task:hover {
    background-color: #313e44;
}

.collapsible-body {
    padding: 0 4%;
}

.card {
    background-color: #607d8b !important;
    color: white;
}

.card .card-content {
    background-color: #313e44;
}

.li-background {
    background-color: white;
}


/*----------------------SPAN classes----------------------*/
.math {
    text-transform: lowercase;
    padding: 0 1.0%;
}

.centerEquationBox {
    display: flex;
    justify-content: space-between;
}

    .centerEquationBox span {
        text-transform: none;
    }

.centerEquation {
    display: flex;
    justify-content: center;
    margin: 2% 0 0 0;
    text-transform: none;
}

.leftEquation {
    display: flex;
    font-size: 16px;
    justify-content: center;
}

.leftContent {
    padding: 2em;
}

.hipotez {
    font-style: italic;
}

.titleTask{
    padding: 0 0 3% 0;
}

table {
    padding: 3% 0;
}

table.highlight > tbody > tr:hover {
  color: black;
}

table tbody td {
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}

table thead {
    border-top: 2px solid #d0d0d0;
    border-bottom: 2px solid #d0d0d0;
}


/*style="display: flex; justify-content: center;"*/

.sourceCode {
    background-color: white;
    color: blue;
    font-size: 14px;
    font-style: italic;
    margin: 0 auto;
    text-transform: none;
    width: 60%;
}

.defineList {
    list-style-type: disc;
    margin-left: 7%;
}
.defineList li {
    list-style-type: disc;
    padding-top: 5%;
    display: inline;
}

.collapsible-body p {
    padding: 1%;
}

.definitionCount {
    margin-left: 3em;
    padding: 0 0 0 3em;
    text-transform: lowercase;
}

.countTitle {
    text-transform: uppercase;
}

.sourceLink {
    color: white;

}

.tableScore {
    margin: 0 auto;
    background-color: white;
    color: black;
    text-transform: none;
}
td, th {
    text-align: center;
}

.titleDefinition {
    font-size: 15px;
    font-weight: 500;
}

.solutionItem {
    margin-left: 3%;
    text-decoration: underline;
    text-transform: uppercase;
}

/*----------------------BTN classes----------------------*/
.btn, .btn-large {
    background-color: #FF1200;
}

.btn:focus, .btn-large:focus {
    background-color:  #304ffe;
}

.btn:hover, .btn-large:hover {
    background-color:  #304ffe;
}


/*----------------------MEDIA configuraction----------------------*/

@media only screen and (max-width: 1280px) {
    
    table.responsive-table{
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width : 992px) {
    .mail {
        display: none;
    }

    .sourceCode {
        font-size: 13px;
        width: 60%;
    }
  }

@media only screen and (max-width: 848px) {
    .sourceCode {
        font-size: 12px;
        width: 70%;
    }
}

@media only screen and (max-width: 720px) {
    .sourceCode {
        width: 70%;
    }
}

@media only screen and (max-width: 601px) {
    .sourceCode {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 992px) {
    .container {
    width: 90%;
    }
    .sourceCode {
    width: 50%;
    }
}

@media only screen and (min-width: 1281px) {
    .sourceCode {
        width: 70%;
    }

    table td:first-child {
        border-left: none;
    }

    table td:last-child {
        border-right: none;
    }
}