html {
    height: 100%;
    }

body { 
   
    background:
        linear-gradient(cyan, transparent),
        linear-gradient(-45deg, magenta, transparent),
	    linear-gradient(45deg, yellow, transparent);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: round;
    }

main {
    margin: 0 auto;
    padding: 20px;
    }

main div {
    padding: 20px;
    }

.navPadding {
    margin: 0 auto;
    max-width: 1280px;
    padding-bottom: 20%;
    }


/*INDEX*/
    .testPanel {
        background-color: #607d8b;
        color: white;
        text-transform: uppercase;
        }   
    .testBtnBox {
        
    }




.testRoz {
    background-color: #283593;
    color: white;
    text-transform: uppercase;
}

.testLink {
    background-color: #607d8b;
    color: white;
    text-transform: uppercase;  
}

.dropdown-content li>a {
    color: white;
}

.task {
    background-color: #304ffe !important;
    color: white;
    text-transform: uppercase;
}

.collapsible-body {
    padding: 0 4%;
}

.card {
    background-color: #607d8b !important;
    color: white;
}

.card .card-content {
    background-color: #313e44;
}

.li-background {
    background-color: white;
}


/*----------------------SPAN classes----------------------*/
.titleTest{
    float: left;
}

.numberPackage{
    float: right;
}

.math {
    text-transform: lowercase;
    padding: 0 1.0%;
}


.titleTask{
    padding: 0 0 3% 0;
}

.contents {
    font-size: 15px;
    font-weight: 300;
}

.sourceCode {
    background-color: white;
    color: blue;
    font-size: 14px;
    font-style: italic;
    margin: 0 auto;
    text-transform: lowercase;
    width: 30%;
}

.definitionCount {
    margin-left: 3em;
    padding: 0 0 0 3em;
    text-transform: lowercase;
}

.countTitle {
    text-transform: uppercase;
}

.sourceLink {
    color: white;

}

.tableScore {
    margin: 0 auto;
    background-color: white;
    color: black;
    text-transform: none;
}
td, th {
    text-align: center;
}

.titleDefinition {
    font-size: 15px;
    font-weight: 500;
}

/*----------------------BTN classes----------------------*/
.btn, .btn-large {
    background-color: #FF1200;
}

.btn:focus, .btn-large:focus {
    background-color:  #304ffe;
}

.btn:hover, .btn-large:hover {
    background-color:  #304ffe;
}


/*----------------------MEDIA configuraction----------------------*/

@media only screen and (max-width : 992px) {
    .mail {
        display: none;
    }

    .sourceCode {
        font-size: 13px;
        width: 60%;
    }
  }

@media only screen and (max-width: 848px) {
    .sourceCode {
        font-size: 12px;
        width: 70%;
    }
}

@media only screen and (max-width: 720px) {
    .sourceCode {
        width: 70%;
    }
}

@media only screen and (max-width: 601px) {
    .sourceCode {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 992px) {
    .container {
    width: 90%;
    }
    .sourceCode {
    width: 50%;
    }
}

@media only screen and (min-width: 1280px) {
    .sourceCode {
        width: 40%;
    }
}